@import "/bootstrap/bootstrap.less";

#index{
    .info{
        width: 50%;
        float: left;
    }

    .watch{
        svg {
            position: relative !important;
        }
        width: 50%;
        float: right;
        height: 500px;
    }
}