// @import "/bootstrap/bootstrap.less";

/***** Variables *****/

@white: #fff;
@black: #000;

/** Emotions **/

@involvement: #3fa652;
@amusement: #40a630;
@pride: #4da62a;
@joy: #6da529;
@enjoyment: #94aa2d;
@tenderness: #b1992d;
@wonderment: #ac6b1e;
@relief: #a83f14;
@surprise: #a5270f;
@longing: #a52834;
@pity: #a32e68;
@sadness: #a3379c;
@worry: #7e36ac;
@shame: #4c2fab;
@guilt: #002da7;
@disappointment: #0032a7;
@envy: #004eac;
@disgust: #187aac;
@contempt: #43acb0;
@irritation: #3ea67c;

body{
    background: @longing;
    color: @white;
    margin: 0;
    padding: 0;
    -webkit-transition: background-color 3000ms linear;
    -moz-transition: background-color 3000ms linear;
    -o-transition: background-color 3000ms linear;
    -ms-transition: background-color 3000ms linear;
    transition: background-color 3000ms linear;

    &.pity{
        background: @pity;
    }

    &.sadness{
        background: @sadness;
    }

    &.disappointment{
        background: @disappointment;
    }

    &.guilt{
        background: @guilt;
    }

    &.joy{
        background: @joy;
    }

    &.pride{
        background: @pride;
    }

    &.surprise{
        background: @surprise;
    }

    &.worry{
        background: @worry;
    }
}

ul{
    margin: 0 0 0 20px;
    padding: 0;
}

/***** Typography *****/

h2{
    font-weight: normal;
    font-size: 24px;
    margin: 5px 0;
    padding: 0;
}

select{
    font-size: 14px;
}

/***** Title *****/

h1.title{
    text-align: center;
    font-size: 50px;
    margin: 20px 0 0 0;
}

/** Top Navigation **/

.top-navigation{
    @nav-height: 35px;
    font-size: 14px;
    
    height: @nav-height;
    background-color: @black;
    line-height: @nav-height;

    .logo{
        margin-left: 25px;
        float: left;
    }

    .menu{
        margin-right: 25px;
    }

    ul{
        list-style: none;
        padding: 0;
        margin: 0;
        float: right;
    }

    li{
        float: left;
        margin-left: 20px;
        line-height: @nav-height;
        position: relative;
    }

    #search-hashtag, #search-event{
        display: none;
        position: absolute;
        z-index: 100;
        top: @nav-height;
        left: 0;
        background-color: @black;
        width: 300px;

        h2{
            font-size: 16px;
            font-weight: normal;
        }
    }

    li:hover #search-hashtag, li:hover #search-event{
        display: block;
    }
}


/***** Basic Layout *****/

#left-column{
    width: 29.838709677%;
    float: left;
}

#middle-column{
    width: 40.322580645%;
    float: left;
}

#right-column{
    width: 29.838709677%;
    float: right;
}

#bottom{
    clear:both;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
    position:absolute;
    bottom: 0px;
}

.inner{
    padding: 20px;
}

/** Watch **/

#index{

    .watch{
        position: relative;
        svg {
            position: relative !important;
        }
        width: 100%;
        float: right;
        height: 500px;

        .date-time-freq{
            width: 30%;
            position: absolute;
            text-align: center;
            left: 50%;
            margin-left: -10%;
            z-index: 2;
            top: 170px;
            background: rgba(255, 255, 255, 0.5);
        }
    }
}

/** Timeline **/

/** Tweets / Weibos **/

.title-box{
    width: 100%;
    border-bottom: 1px solid @white;

    select{
        float: right;
        margin-top: -27px;
    }
}

.tweets{

    li{
        position: relative;
        background-color: rgba(255, 255, 255, 0.1);
        padding: 2px 5px 2px 40px;
        margin: 10px 0;

        p{
            margin: 3px 0;
            font-size: 13px;
        }

        span.date{
            position: absolute;
            left: -20px;
            top: -5px  ;
            display: block;
            background-color: @black;
            height: 50px;
            line-height: 50px;
            text-align: center;
            width: 50px;
            border-radius: 30px;

            &.guilt{
                border: 2px solid @guilt;
            }

            &.disappointment{
                border: 2px solid @disappointment;
            }

            &.envy{
                border: 2px solid @envy;
            }

            &.disgust{
                border: 2px solid @disgust;
            }

            &.contempt{
                border: 2px solid @contempt;
            }

            &.irritation{
                border: 2px solid @irritation;
            }

            &.involvement{
                border: 2px solid @involvement;
            }
            
            &.amusement{
                border: 2px solid @amusement;
            }

            &.joy{
                border: 2px solid @joy;
            }

            &.tenderness{
                border: 2px solid @tenderness;
            }

            &.wonderment{
                border: 2px solid @wonderment;
            }

            &.relief{
                border: 2px solid @relief;
            }

            &.surprise{
                border: 2px solid @surprise;
            }

            &.longing{
                border: 2px solid @longing;
            }

            &.pity{
                border: 2px solid @pity;
            }

            &.sadness{
                border: 2px solid @sadness;
            }

            &.worry{
                border: 2px solid @worry;
            }

            &.shame{
                border: 2px solid @shame;
            }

        }
    }

}

/** Video **/

#player{
    width: 100%;
}

/** Time **/

#start-stop-control{
    width: 50px;
    height: 50px;
    background: #000;
    border-radius: 30px;
    border: 1px solid #fff;
    position: absolute;
    line-height: 50px;
    text-align: center;
    left: -30px;
    top: -10px;
}

.time-box{
    position: relative;
    margin-top: 30px;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    padding: 10px;

    .date{
        font-size: 30px;
        text-align: right;
        display: block;
    }
    .time{
        font-size: 60px;
        text-align: right;
        display: block;
    }
}