/***** Variables *****/
/** Emotions **/
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -2;
  background-color: #1a1a1a;
}
.modal-backdrop.fade {
  opacity: 0;
}
.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 101;
  width: 560px;
  margin: -250px 0 0 -280px;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  /* IE6-7 */

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  outline: none;
}
.modal.fade {
  -webkit-transition: opacity .3s linear, top .3s ease-out;
  -moz-transition: opacity .3s linear, top .3s ease-out;
  -o-transition: opacity .3s linear, top .3s ease-out;
  transition: opacity .3s linear, top .3s ease-out;
  top: -50%;
}
.modal.fade.in {
  top: 50%;
}
.modal-header {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
}
.modal-header .close {
  margin-top: 2px;
}
.modal-header h3 {
  margin: 0;
  line-height: 30px;
}
.modal-body {
  overflow-y: auto;
  max-height: 400px;
  padding: 15px;
}
.modal-form {
  margin-bottom: 0;
}
.modal-footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: right;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
  *zoom: 1;
}
.modal-footer:before,
.modal-footer:after {
  display: table;
  content: "";
  line-height: 0;
}
.modal-footer:after {
  clear: both;
}
.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
form {
  margin: 0 0 20px;
}
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 40px;
  color: #000000;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
legend small {
  font-size: 15px;
  color: #cccccc;
}
label,
input,
button,
select,
textarea {
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
}
input,
button,
select,
textarea {
  font-family: "ff-tisa-web-pro", sans-serif;
}
label {
  display: block;
  margin-bottom: 5px;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  height: 20px;
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 20px;
  color: #1a1a1a;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  vertical-align: middle;
}
input,
textarea,
.uneditable-input {
  width: 206px;
}
textarea {
  height: auto;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: #cccccc;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear .2s, box-shadow linear .2s;
  -moz-transition: border linear .2s, box-shadow linear .2s;
  -o-transition: border linear .2s, box-shadow linear .2s;
  transition: border linear .2s, box-shadow linear .2s;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
}
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  *margin-top: 0;
  /* IE7 */

  margin-top: 1px \9;
  /* IE8-9 */

  line-height: normal;
  cursor: pointer;
}
input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}
select,
input[type="file"] {
  height: 20px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */

  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */

  line-height: 20px;
}
select {
  width: 220px;
  border: 1px solid #cccccc;
  background-color: #cccccc;
}
select[multiple],
select[size] {
  height: auto;
}
select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.uneditable-input,
.uneditable-textarea {
  color: #cccccc;
  background-color: #c9c9c9;
  border-color: #cccccc;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  cursor: not-allowed;
}
.uneditable-input {
  overflow: hidden;
  white-space: nowrap;
}
.uneditable-textarea {
  width: auto;
  height: auto;
}
.radio,
.checkbox {
  min-height: 20px;
  padding-left: 20px;
}
.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  float: left;
  margin-left: -20px;
}
.controls > .radio:first-child,
.controls > .checkbox:first-child {
  padding-top: 5px;
}
.radio.inline,
.checkbox.inline {
  display: inline-block;
  padding-top: 5px;
  margin-bottom: 0;
  vertical-align: middle;
}
.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
  margin-left: 10px;
}
.input-mini {
  width: 60px;
}
.input-small {
  width: 90px;
}
.input-medium {
  width: 150px;
}
.input-large {
  width: 210px;
}
.input-xlarge {
  width: 270px;
}
.input-xxlarge {
  width: 530px;
}
input[class*="span"],
select[class*="span"],
textarea[class*="span"],
.uneditable-input[class*="span"],
.row-fluid input[class*="span"],
.row-fluid select[class*="span"],
.row-fluid textarea[class*="span"],
.row-fluid .uneditable-input[class*="span"] {
  float: none;
  margin-left: 0;
}
.input-append input[class*="span"],
.input-append .uneditable-input[class*="span"],
.input-prepend input[class*="span"],
.input-prepend .uneditable-input[class*="span"],
.row-fluid input[class*="span"],
.row-fluid select[class*="span"],
.row-fluid textarea[class*="span"],
.row-fluid .uneditable-input[class*="span"],
.row-fluid .input-prepend [class*="span"],
.row-fluid .input-append [class*="span"] {
  display: inline-block;
}
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  cursor: not-allowed;
}
input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][readonly],
input[type="checkbox"][readonly] {
  background-color: transparent;
}
input:focus:required:invalid,
textarea:focus:required:invalid,
select:focus:required:invalid {
  color: #b94a48;
  border-color: #ee5f5b;
}
input:focus:required:invalid:focus,
textarea:focus:required:invalid:focus,
select:focus:required:invalid:focus {
  border-color: #e9322d;
  -webkit-box-shadow: 0 0 6px #f8b9b7;
  -moz-box-shadow: 0 0 6px #f8b9b7;
  box-shadow: 0 0 6px #f8b9b7;
}
.help-block,
.help-inline {
  color: #262626;
}
.help-block {
  display: block;
  margin-bottom: 10px;
}
.help-inline {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  vertical-align: middle;
  padding-left: 5px;
}
.form-search input,
.form-inline input,
.form-horizontal input,
.form-search textarea,
.form-inline textarea,
.form-horizontal textarea,
.form-search select,
.form-inline select,
.form-horizontal select,
.form-search .help-inline,
.form-inline .help-inline,
.form-horizontal .help-inline,
.form-search .uneditable-input,
.form-inline .uneditable-input,
.form-horizontal .uneditable-input,
.form-search .input-prepend,
.form-inline .input-prepend,
.form-horizontal .input-prepend,
.form-search .input-append,
.form-inline .input-append,
.form-horizontal .input-append {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  margin-bottom: 0;
  vertical-align: middle;
}
.form-search .hide,
.form-inline .hide,
.form-horizontal .hide {
  display: none;
}
.form-search label,
.form-inline label,
.form-search .btn-group,
.form-inline .btn-group {
  display: inline-block;
}
.form-search .input-append,
.form-inline .input-append,
.form-search .input-prepend,
.form-inline .input-prepend {
  margin-bottom: 0;
}
.form-search .radio,
.form-search .checkbox,
.form-inline .radio,
.form-inline .checkbox {
  padding-left: 0;
  margin-bottom: 0;
  vertical-align: middle;
}
.form-search .radio input[type="radio"],
.form-search .checkbox input[type="checkbox"],
.form-inline .radio input[type="radio"],
.form-inline .checkbox input[type="checkbox"] {
  float: left;
  margin-right: 3px;
  margin-left: 0;
}
.control-group {
  margin-bottom: 10px;
}
legend + .control-group {
  margin-top: 20px;
  -webkit-margin-top-collapse: separate;
}
.form-horizontal .control-group {
  margin-bottom: 20px;
  *zoom: 1;
}
.form-horizontal .control-group:before,
.form-horizontal .control-group:after {
  display: table;
  content: "";
  line-height: 0;
}
.form-horizontal .control-group:after {
  clear: both;
}
.form-horizontal .control-label {
  float: left;
  width: 180px;
  padding-top: 5px;
  text-align: right;
}
.form-horizontal .controls {
  *display: inline-block;
  *padding-left: 20px;
  margin-left: 200px;
  *margin-left: 0;
}
.form-horizontal .controls:first-child {
  *padding-left: 200px;
}
.form-horizontal .help-block {
  margin-bottom: 0;
}
.form-horizontal input + .help-block,
.form-horizontal select + .help-block,
.form-horizontal textarea + .help-block {
  margin-top: 10px;
}
.form-horizontal .form-actions {
  padding-left: 200px;
}
.dropup,
.dropdown {
  position: relative;
}
.dropdown-toggle {
  *margin-bottom: -3px;
}
.dropdown-toggle:active,
.open .dropdown-toggle {
  outline: 0;
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 4px solid #1a1a1a;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
}
.dropdown .caret {
  margin-top: 8px;
  margin-left: 2px;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}
.dropdown-menu li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #000000;
  white-space: nowrap;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  text-decoration: none;
  color: #ffffff;
  background-color: #c7c7c7;
  background-image: -moz-linear-gradient(top, #cccccc, #bfbfbf);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cccccc), to(#bfbfbf));
  background-image: -webkit-linear-gradient(top, #cccccc, #bfbfbf);
  background-image: -o-linear-gradient(top, #cccccc, #bfbfbf);
  background-image: linear-gradient(to bottom, #cccccc, #bfbfbf);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcccccc', endColorstr='#ffbfbfbf', GradientType=0);
}
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: #000000;
  text-decoration: none;
  outline: 0;
  background-color: #151515;
  background-image: -moz-linear-gradient(top, #1a1a1a, #0d0d0d);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1a1a1a), to(#0d0d0d));
  background-image: -webkit-linear-gradient(top, #1a1a1a, #0d0d0d);
  background-image: -o-linear-gradient(top, #1a1a1a, #0d0d0d);
  background-image: linear-gradient(to bottom, #1a1a1a, #0d0d0d);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1a1a1a', endColorstr='#ff0d0d0d', GradientType=0);
}
.dropdown-menu .disabled > a,
.dropdown-menu .disabled > a:hover {
  color: #cccccc;
}
.dropdown-menu .disabled > a:hover {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  cursor: default;
}
.open {
  *z-index: 1000;
}
.open > .dropdown-menu {
  display: block;
}
.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}
.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px solid #1a1a1a;
  content: "";
}
.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 1px;
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
.dropup .dropdown-submenu > .dropdown-menu {
  top: auto;
  bottom: 0;
  margin-top: 0;
  margin-bottom: -2px;
  -webkit-border-radius: 5px 5px 5px 0;
  -moz-border-radius: 5px 5px 5px 0;
  border-radius: 5px 5px 5px 0;
}
.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #cccccc;
  margin-top: 5px;
  margin-right: -10px;
}
.dropdown-submenu:hover > a:after {
  border-left-color: #ffffff;
}
.dropdown-submenu.pull-left {
  float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}
.dropdown .dropdown-menu .nav-header {
  padding-left: 20px;
  padding-right: 20px;
}
.typeahead {
  margin-top: 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
body {
  font-family: "ff-tisa-web-pro", sans-serif;
  font-weight: 400;
  background: #857a65;
  color: #ffffff;
  margin: 0;
  padding: 0;
  padding-top: 100px;
  -webkit-transition: background-color 500ms linear;
  -moz-transition: background-color 500ms linear;
  -o-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}
body #bottom,
body.empty #bottom {
  background: #857a65;
}
body.involvement {
  background: #f3913b;
}
body.involvement #bottom {
  background: #f3913b;
}
body.amusement {
  background: #e4633a;
}
body.amusement #bottom {
  background: #e4633a;
}
body.pride {
  background: #ffb014;
}
body.pride #bottom {
  background: #ffb014;
}
body.happiness {
  background: #fff028;
}
body.happiness #bottom {
  background: #fff028;
}
body.pleasure {
  background: #bac300;
}
body.pleasure #bottom {
  background: #bac300;
}
body.love {
  background: #c9ff81;
}
body.love #bottom {
  background: #c9ff81;
}
body.awe {
  background: #46dc00;
}
body.awe #bottom {
  background: #46dc00;
}
body.relief {
  background: #91f790;
}
body.relief #bottom {
  background: #91f790;
}
body.surprise {
  background: #01c889;
}
body.surprise #bottom {
  background: #01c889;
}
body.nostalgia {
  background: #73efe8;
}
body.nostalgia #bottom {
  background: #73efe8;
}
body.pity {
  background: #4da9f0;
}
body.pity #bottom {
  background: #4da9f0;
}
body.sadness {
  background: #053ba5;
}
body.sadness #bottom {
  background: #053ba5;
}
body.worry {
  background: #395cda;
}
body.worry #bottom {
  background: #395cda;
}
body.shame {
  background: #2a2972;
}
body.shame #bottom {
  background: #2a2972;
}
body.guilt {
  background: #755edc;
}
body.guilt #bottom {
  background: #755edc;
}
body.regret {
  background: #712fbf;
}
body.regret #bottom {
  background: #712fbf;
}
body.envy {
  background: #d235ff;
}
body.envy #bottom {
  background: #d235ff;
}
body.disgust {
  background: #6e006e;
}
body.disgust #bottom {
  background: #6e006e;
}
body.contempt {
  background: #af259d;
}
body.contempt #bottom {
  background: #af259d;
}
body.anger {
  background: #cc0100;
}
body.anger #bottom {
  background: #cc0100;
}
body.frontpage {
  background: #0173d6;
}
body.frontpage #bottom {
  background: #0173d6;
}
a {
  text-decoration: underline;
}
ul {
  margin: 0 0 0 20px;
  padding: 0;
}
/***** Typography *****/
h2 {
  font-weight: normal;
  font-size: 24px;
  margin: 5px 0;
  padding: 0;
}
select {
  font-size: 14px;
}
/***** Title *****/
h1.title {
  text-align: center;
  font-size: 50px;
  margin: 20px 0 0 0;
}
h3 {
  font-weight: normal;
  text-align: center;
  margin-top: 0px;
}
.display-type {
  margin-top: -10px;
  margin-bottom: 10px;
  text-align: center;
}
.display-type a {
  color: #ffffff;
}
.display-type a:hover {
  color: #1a1a1a;
}
/** Top Navigation **/
.top-navigation {
  font-size: 14px;
  position: fixed;
  z-index: 2;
  width: 100%;
  top: 0;
}
.top-navigation .title {
  text-align: center;
  margin-top: 20px;
}
.top-navigation .title .inside-title {
  display: inline-block;
  position: relative;
  min-width: 700px;
}
.top-navigation .title h1 {
  min-width: 700px;
  font-family: "league-gothic";
  font-size: 45px;
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 0;
  margin-top: 0px;
  text-align: center;
  display: inline-block;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.top-navigation .title .menu-left {
  width: 200px;
  position: absolute;
  left: -250px;
  top: 5px;
}
.top-navigation .title .menu-left ul {
  list-style: none;
  text-align: right;
}
.top-navigation .title .menu-right {
  width: 200px;
  position: absolute;
  right: -225px;
  margin: 0;
  top: 5px;
}
.top-navigation .title .menu-right ul {
  list-style: none;
  text-align: left;
}
.top-navigation .title .subinfo {
  margin-top: 0px;
}
.top-navigation .title .subinfo .subinfo-tab {
  width: 25%;
  height: 50px;
  float: left;
}
.top-navigation .title .subinfo .subinfo-tab h2 {
  opacity: 0.4;
  font-size: 16px;
  margin: 0;
  font-weight: 600;
}
.top-navigation .title .subinfo .subinfo-tab h3 {
  text-align: center;
  font-size: 14px;
  margin-bottom: 0;
}
.top-navigation a {
  color: #ffffff;
  text-decoration: underline;
}
.top-navigation a:hover {
  color: #1a1a1a;
}
.top-navigation #search-hashtag,
.top-navigation #search-event {
  display: none;
  position: absolute;
  z-index: 100;
  top: 100px;
  left: 0;
  background-color: #1a1a1a;
  width: 300px;
}
.top-navigation #search-hashtag h2,
.top-navigation #search-event h2 {
  font-size: 16px;
  font-weight: normal;
}
.top-navigation li:hover #search-hashtag,
.top-navigation li:hover #search-event {
  display: block;
}
/***** Basic Layout *****/
.date-time-freq {
  position: absolute;
  height: 100px;
  padding: 0 2%;
  width: 96%;
  background-color: rgba(255, 255, 255, 0.4);
}
.date-time-freq svg {
  margin: 0 auto;
  left: auto !important;
}
#index .columns,
#pattern .columns {
  margin-top: 40px;
}
#index #left-column,
#pattern #left-column {
  width: 29.838709677%;
  float: left;
}
#index #middle-column,
#pattern #middle-column {
  width: 40.322580645%;
  float: left;
}
#index #right-column,
#pattern #right-column {
  width: 29.838709677%;
  float: right;
}
#index #bottom,
#pattern #bottom {
  clear: both;
  height: 100px;
  opacity: 0.9;
  z-index: 10;
  width: 100%;
  position: fixed;
  bottom: 0px;
  -webkit-transition: background-color 500ms linear;
  -moz-transition: background-color 500ms linear;
  -o-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}
#index .inner,
#pattern .inner {
  padding: 20px;
}
#index #pattern #middle-column,
#pattern #pattern #middle-column {
  width: 100%;
}
/***** FRONTPAGE *****/
svg {
  position: relative;
  top: 0;
}
svg .index-emotionshape {
  fill: #0099ff;
  stroke: #9999ff;
  opacity: 0.4;
}
svg .frontpageLabel {
  fill: #ffffff;
  stroke: #fff;
}
svg .label {
  fill: #ffffff;
  opacity: 0.5;
}
svg .line {
  stroke: #ffffff;
  opacity: 0.1;
}
.input-control {
  margin: 0;
  clear: both;
  max-width: 400px;
}
.input-control .inner-control {
  float: right;
  text-align: right;
}
.input-control label {
  float: left;
}
.input-control select {
  margin-bottom: 10px;
}
.input-control input {
  font-size: 12px;
  padding: 2px;
  display: block;
}
.btn-search {
  float: right;
  clear: both;
}
/** Frontpage **/
#welcome-screen {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}
#welcome-screen .modal-header h3 {
  font-size: 24px;
}
#welcome-screen ul {
  list-style: none;
}
#welcome-screen li {
  margin: 5px 0;
}
/** Watch **/
#index .watch {
  position: relative;
  width: 100%;
  float: right;
  height: 500px;
  margin-top: 30px;
}
#index .watch svg {
  position: relative !important;
}
#index .watch .date-time-freq {
  width: 30%;
  position: absolute;
  text-align: center;
  left: 50%;
  margin-left: -10%;
  z-index: 2;
  top: 170px;
  background: rgba(255, 255, 255, 0.5);
}
/** Timeline **/
#index .date-time-freq path,
#compare .date-time-freq path,
#index .date-time-freq circle,
#compare .date-time-freq circle {
  cursor: pointer;
}
#index .date-time-freq path.visited,
#compare .date-time-freq path.visited {
  fill: #ebebeb;
}
#index .date-time-freq path.active,
#compare .date-time-freq path.active {
  fill: #a00202;
}
#index .date-time-freq path,
#compare .date-time-freq path {
  stroke-width: 0;
}
#index .date-time-freq .hoverPath,
#compare .date-time-freq .hoverPath {
  opacity: 0;
}
#index .date-time-freq .hoverPath:hover,
#compare .date-time-freq .hoverPath:hover {
  background: rgba(255, 255, 255, 0.3);
  opacity: 0.3;
}
#index .date-time-freq path:hover,
#compare .date-time-freq path:hover {
  fill: #444444;
}
#compare .navigation {
  text-align: center;
  margin: -100px auto 40px auto;
}
#compare .navigation .lead {
  font-size: 16px;
}
#compare .control-group {
  margin: 0 auto;
  width: 240px;
  text-align: center;
}
#compare .control-group .control-label {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 10px;
}
#compare #initialization-form {
  width: 80%;
  margin: 0 auto;
}
#compare #initialization-form .init-column {
  width: 33.33333333%;
  float: left;
}
#compare #initialization-form .init-column h2 {
  text-align: center;
  margin-bottom: 15px;
}
#compare #initialization-form .submit {
  padding-top: 60px;
  clear: both;
  text-align: center;
}
#compare #initialization-form .btn {
  font-size: 25px;
  font-weight: 600;
  padding: 15px 20px;
}
.time-block {
  position: fixed;
  bottom: 0;
  left: 0;
  padding-left: 2%;
  width: 0;
}
.time-block.is-transitioning {
  -webkit-transition: width 5s linear;
  -moz-transition: width 5s linear;
  -o-transition: width 5s linear;
  transition: width 5s linear;
}
.time-block .curtain {
  background-color: rgba(120, 120, 120, 0.2);
  height: 100px;
  width: 100%;
  border-right: 1px solid #a00202;
}
#compare .curtain {
  display: none;
}
.current-time-box.max-right {
  position: fixed;
  right: 25px;
}
.current-time-box .dates {
  position: absolute;
  text-align: left;
  bottom: 112px;
  font-size: 14px;
  right: -235px;
  width: 200px;
  background: rgba(255, 255, 255, 0.2);
  padding: 0 3px;
}
.current-time-box .dates .date {
  display: block;
}
.current-time-box #start-stop-control {
  width: 50px;
  height: 50px;
  background: #000;
  border-radius: 30px;
  border: 1px solid #fff;
  position: absolute;
  line-height: 50px;
  text-align: center;
  right: -25px;
  bottom: 105px;
  cursor: pointer;
}
/** Tweets / Weibos **/
.title-box {
  width: 100%;
  border-bottom: 1px solid #ffffff;
}
.title-box select {
  float: right;
  margin-top: -27px;
}
.tweets {
  position: absolute;
  width: 100%;
  height: 540px;
  -webkit-perspective: 300px;
  -webkit-perspective-origin: 50% 30%;
}
.tweets ul {
  list-style: none;
}
@-webkit-keyframes translation_right {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(100px, 10px, 0px);
  }
}
@-webkit-keyframes translation_left {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate3d(-100px, 10px, 0px);
    opacity: 0;
  }
}
.tweet {
  width: 350px;
  -webkit-transform-style: preserve-3d;
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: 5s;
  -webkit-animation-play-state: running;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 2px 5px 2px 40px;
  margin: 10px 0;
}
.tweet a {
  color: #ffffff;
}
.tweet p {
  margin: 3px 0;
  font-size: 14px;
}
.tweet span.date {
  position: absolute;
  left: -20px;
  top: -5px;
  display: block;
  border: 2px solid #1a1a1a;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 50px;
  border-radius: 30px;
  background-color: #0173d6;
}
.tweet .tweet-emotion {
  float: right;
  font-size: 11px;
  padding: 3px 6px;
}
.tweet .tweet-emotion:first-letter {
  text-transform: uppercase;
}
.tweet span.date.involvement,
.tweet .tweet-emotion.involvement {
  background-color: #f3913b;
}
.tweet span.date.amusement,
.tweet .tweet-emotion.amusement {
  background-color: #e4633a;
}
.tweet span.date.pride,
.tweet .tweet-emotion.pride {
  background-color: #ffb014;
}
.tweet span.date.happiness,
.tweet .tweet-emotion.happiness {
  background-color: #fff028;
}
.tweet span.date.pleasure,
.tweet .tweet-emotion.pleasure {
  background-color: #bac300;
}
.tweet span.date.love,
.tweet .tweet-emotion.love {
  background-color: #c9ff81;
}
.tweet span.date.awe,
.tweet .tweet-emotion.awe {
  background-color: #46dc00;
}
.tweet span.date.relief,
.tweet .tweet-emotion.relief {
  background-color: #91f790;
}
.tweet span.date.surprise,
.tweet .tweet-emotion.surprise {
  background-color: #01c889;
}
.tweet span.date.nostalgia,
.tweet .tweet-emotion.nostalgia {
  background-color: #73efe8;
}
.tweet span.date.pity,
.tweet .tweet-emotion.pity {
  background-color: #4da9f0;
}
.tweet span.date.sadness,
.tweet .tweet-emotion.sadness {
  background-color: #053ba5;
}
.tweet span.date.worry,
.tweet .tweet-emotion.worry {
  background-color: #395cda;
}
.tweet span.date.shame,
.tweet .tweet-emotion.shame {
  background-color: #2a2972;
}
.tweet span.date.guilt,
.tweet .tweet-emotion.guilt {
  background-color: #755edc;
}
.tweet span.date.regret,
.tweet .tweet-emotion.regret {
  background-color: #712fbf;
}
.tweet span.date.envy,
.tweet .tweet-emotion.envy {
  background-color: #d235ff;
}
.tweet span.date.disgust,
.tweet .tweet-emotion.disgust {
  background-color: #6e006e;
}
.tweet span.date.contempt,
.tweet .tweet-emotion.contempt {
  background-color: #af259d;
}
.tweet span.date.anger,
.tweet .tweet-emotion.anger {
  background-color: #cc0100;
}
.stop-animation .tweet {
  display: none;
  -webkit-animation: none !important;
}
/** o **/
#player {
  width: 100%;
}
#player video {
  width: 100%;
}
/**** PATTERN ****/
#pattern #middle-column {
  width: 100%;
  position: relative;
}
#pattern path {
  z-index: 1;
}
.emotion-circle,
.labelcircle,
.date-time-freq {
  z-index: 0;
}
.emotion-circle.empty,
.labelcircle.empty,
.date-time-freq.empty,
.emotion-circle .empty,
.labelcircle .empty,
.date-time-freq .empty {
  fill: #857a65;
}
.emotion-circle.involvement,
.labelcircle.involvement,
.date-time-freq.involvement,
.emotion-circle .involvement,
.labelcircle .involvement,
.date-time-freq .involvement {
  fill: #f3913b;
}
.emotion-circle.amusement,
.labelcircle.amusement,
.date-time-freq.amusement,
.emotion-circle .amusement,
.labelcircle .amusement,
.date-time-freq .amusement {
  fill: #e4633a;
}
.emotion-circle.pride,
.labelcircle.pride,
.date-time-freq.pride,
.emotion-circle .pride,
.labelcircle .pride,
.date-time-freq .pride {
  fill: #ffb014;
}
.emotion-circle.happiness,
.labelcircle.happiness,
.date-time-freq.happiness,
.emotion-circle .happiness,
.labelcircle .happiness,
.date-time-freq .happiness {
  fill: #fff028;
}
.emotion-circle.pleasure,
.labelcircle.pleasure,
.date-time-freq.pleasure,
.emotion-circle .pleasure,
.labelcircle .pleasure,
.date-time-freq .pleasure {
  fill: #bac300;
}
.emotion-circle.love,
.labelcircle.love,
.date-time-freq.love,
.emotion-circle .love,
.labelcircle .love,
.date-time-freq .love {
  fill: #c9ff81;
}
.emotion-circle.awe,
.labelcircle.awe,
.date-time-freq.awe,
.emotion-circle .awe,
.labelcircle .awe,
.date-time-freq .awe {
  fill: #46dc00;
}
.emotion-circle.relief,
.labelcircle.relief,
.date-time-freq.relief,
.emotion-circle .relief,
.labelcircle .relief,
.date-time-freq .relief {
  fill: #91f790;
}
.emotion-circle.surprise,
.labelcircle.surprise,
.date-time-freq.surprise,
.emotion-circle .surprise,
.labelcircle .surprise,
.date-time-freq .surprise {
  fill: #01c889;
}
.emotion-circle.nostalgia,
.labelcircle.nostalgia,
.date-time-freq.nostalgia,
.emotion-circle .nostalgia,
.labelcircle .nostalgia,
.date-time-freq .nostalgia {
  fill: #73efe8;
}
.emotion-circle.pity,
.labelcircle.pity,
.date-time-freq.pity,
.emotion-circle .pity,
.labelcircle .pity,
.date-time-freq .pity {
  fill: #4da9f0;
}
.emotion-circle.sadness,
.labelcircle.sadness,
.date-time-freq.sadness,
.emotion-circle .sadness,
.labelcircle .sadness,
.date-time-freq .sadness {
  fill: #053ba5;
}
.emotion-circle.worry,
.labelcircle.worry,
.date-time-freq.worry,
.emotion-circle .worry,
.labelcircle .worry,
.date-time-freq .worry {
  fill: #395cda;
}
.emotion-circle.shame,
.labelcircle.shame,
.date-time-freq.shame,
.emotion-circle .shame,
.labelcircle .shame,
.date-time-freq .shame {
  fill: #2a2972;
}
.emotion-circle.guilt,
.labelcircle.guilt,
.date-time-freq.guilt,
.emotion-circle .guilt,
.labelcircle .guilt,
.date-time-freq .guilt {
  fill: #755edc;
}
.emotion-circle.regret,
.labelcircle.regret,
.date-time-freq.regret,
.emotion-circle .regret,
.labelcircle .regret,
.date-time-freq .regret {
  fill: #712fbf;
}
.emotion-circle.envy,
.labelcircle.envy,
.date-time-freq.envy,
.emotion-circle .envy,
.labelcircle .envy,
.date-time-freq .envy {
  fill: #d235ff;
}
.emotion-circle.disgust,
.labelcircle.disgust,
.date-time-freq.disgust,
.emotion-circle .disgust,
.labelcircle .disgust,
.date-time-freq .disgust {
  fill: #6e006e;
}
.emotion-circle.contempt,
.labelcircle.contempt,
.date-time-freq.contempt,
.emotion-circle .contempt,
.labelcircle .contempt,
.date-time-freq .contempt {
  fill: #af259d;
}
.emotion-circle.anger,
.labelcircle.anger,
.date-time-freq.anger,
.emotion-circle .anger,
.labelcircle .anger,
.date-time-freq .anger {
  fill: #cc0100;
}
.emotion-circle {
  stroke-width: 0;
}
.labelcircle {
  stroke-width: 0;
}
.watch .paper {
  text-align: center;
}
/**** COMPARE ****/
#compare .current-time-box {
  display: none;
}
#compare .middle-separator {
  background: #888;
  width: 1px;
  height: 300px;
  position: absolute;
  top: 50%;
  margin-top: -150px;
  left: 50%;
}
#compare .information .controls {
  text-align: center;
  margin: 0 auto;
}
#compare .information h2 {
  border-bottom: 1px solid #888;
  margin: 20px 60px 0;
}
#compare .information h2 small {
  color: #aaa;
  font-size: 16px;
}
#compare ul {
  list-style: none;
}
#compare .columns {
  height: 20px;
}
#compare .columns.twitter h2 {
  text-align: left;
  margin-left: 20px;
}
#compare .columns.weibo h2 {
  text-align: right;
  margin-right: 20px;
}
#compare .columns h2 {
  margin-top: 20px;
}
#compare .columns .bottom {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 100px;
}
#compare .columns .bottom .time-block {
  position: absolute;
}
#compare .columns .watch {
  position: relative;
  margin-top: 10px;
}
#compare .columns .watch .paper {
  position: relative;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-top: -50px;
}
#compare #middle-column {
  position: absolute;
  left: 50%;
  top: 35px;
  margin-left: -175px;
  width: 350px;
}
#compare #left-column {
  width: 50%;
  float: left;
}
#compare #left-column .bottom {
  left: 0;
  width: 50%;
  border-right: 1px solid #1a1a1a;
}
#compare #right-column {
  width: 50%;
  float: left;
}
#compare #right-column .bottom {
  left: 50%;
  width: 50%;
}
#compare .time-box .date {
  font-size: 18px;
}
/**** Detail ****/
.detail-block div {
  z-index: 10;
  padding: 5px;
  text-align: center;
  position: fixed;
  bottom: 115px;
  height: 100px;
  width: 160px;
  margin-left: -80px;
  background: #cccccc;
  color: #1a1a1a;
  border-radius: 10px;
}
.detail-block div.hide {
  display: none;
}
.detail-block div.show {
  display: block;
}
.detail-block div p {
  margin: 0;
}
.detail-block div p.tweet-nbr {
  margin: 8px 0;
  font-weight: 600;
}
.detail-block div:before {
  position: absolute;
  bottom: -2px;
  left: 50%;
  margin-left: -13px;
  content: "\25BC";
  color: #cccccc;
  width: 10px;
  text-align: center;
  height: 10px;
}
/**** Button ****/
.btn {
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #bbbbbb;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}
.btn:active,
.btn.active {
  background-color: #cccccc \9;
}
.btn:first-child {
  *margin-left: 0;
}
.btn:hover {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn.active,
.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
select {
  background-color: white;
  border: 1px solid #CCC;
}
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  height: 20px;
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #555;
  vertical-align: middle;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: white;
  border: 1px solid #CCC;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
select {
  height: 30px;
}
.pattern-text {
  fill: #ffffff;
  stroke: none;
}
#compare .information {
  margin-top: -100px;
  min-height: 140px;
}
#compare .information .video {
  width: 100%;
  position: absolute;
  text-align: center;
  top: 50px;
}
#compare .information .video video {
  width: 300px;
}
#compare .information .left-watch-info,
#compare .information .right-watch-info {
  text-align: center;
  width: 50%;
  float: left;
}
#compare .information #middle-info {
  position: absolute;
  bottom: 120px;
  width: 100%;
  text-align: center;
}
#compare .information .controls {
  position: absolute;
  width: 100%;
  z-index: 10;
  top: 230px;
}
.dropdown label {
  color: #1a1a1a;
  text-align: left;
}
.dropdown-checkbox-toggle {
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #bbbbbb;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
/**** Loading ***/
#loading .loading-background {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #1a1a1a;
  opacity: 0.6;
  z-index: 1000;
}
#loading .loading-text {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 200px;
  z-index: 1001;
}
#loading .loading-text h2 {
  border-bottom: none;
}
#loading #start-all {
  display: none;
  font-size: 25px;
  font-weight: 600;
  padding: 15px 20px;
}
/**** Modal ****/
.modal-link {
  cursor: pointer;
  text-decoration: underline;
}
.modal-link:hover {
  color: #1a1a1a;
}
.modal {
  color: #1a1a1a;
}
.modal-body {
  max-height: 500px;
}
.modal-body h2 {
  display: none;
}
.modal-backdrop {
  display: none;
}
