/***** Variables *****/
/** Emotions **/
body {
  background: #0173d6;
  color: #ffffff;
  margin: 0;
  padding: 0;
  -webkit-transition: background-color 3000ms linear;
  -moz-transition: background-color 3000ms linear;
  -o-transition: background-color 3000ms linear;
  -ms-transition: background-color 3000ms linear;
  transition: background-color 3000ms linear;
}
body.pity {
  background: #a32e68;
}
body.sadness {
  background: #a3379c;
}
body.disappointment {
  background: #0032a7;
}
body.guilt {
  background: #002da7;
}
body.joy {
  background: #6da529;
}
body.pride {
  background: #4da62a;
}
body.surprise {
  background: #a5270f;
}
body.worry {
  background: #7e36ac;
}
body.frontpage {
  background: #0173d6;
}
ul {
  margin: 0 0 0 20px;
  padding: 0;
}
/***** Typography *****/
h2 {
  font-weight: normal;
  font-size: 24px;
  margin: 5px 0;
  padding: 0;
}
select {
  font-size: 14px;
}
/***** Title *****/
h1.title {
  text-align: center;
  font-size: 50px;
  margin: 20px 0 0 0;
}
/** Top Navigation **/
.top-navigation {
  font-size: 14px;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 35px;
  background-color: #000000;
  line-height: 35px;
}
.top-navigation .logo {
  margin-left: 25px;
  float: left;
}
.top-navigation .menu {
  margin-right: 25px;
}
.top-navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  float: right;
}
.top-navigation li {
  float: left;
  margin-left: 20px;
  line-height: 35px;
  position: relative;
}
.top-navigation #search-hashtag,
.top-navigation #search-event {
  display: none;
  position: absolute;
  z-index: 100;
  top: 35px;
  left: 0;
  background-color: #000000;
  width: 300px;
}
.top-navigation #search-hashtag h2,
.top-navigation #search-event h2 {
  font-size: 16px;
  font-weight: normal;
}
.top-navigation li:hover #search-hashtag,
.top-navigation li:hover #search-event {
  display: block;
}
/***** Basic Layout *****/
.columns {
  margin-top: 40px;
}
#left-column {
  width: 29.838709677%;
  float: left;
}
#middle-column {
  width: 40.322580645%;
  float: left;
}
#right-column {
  width: 29.838709677%;
  float: right;
}
#bottom {
  clear: both;
  height: 100px;
  background: #0173d6;
  opacity: 0.9;
  z-index: 10;
  width: 100%;
  position: fixed;
  bottom: 0px;
}
#bottom .date-time-freq {
  position: absolute;
  height: 100px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
}
.inner {
  padding: 20px;
}
#pattern #middle-column {
  width: 100%;
}
/***** FRONTPAGE *****/
svg {
  position: relative;
  top: 0;
}
.welcome {
  background: #0173d6;
  height: 400px;
  position: absolute;
  top: 50%;
  width: 40%;
  border: 1px solid #ffffff;
  color: #ffffff;
  margin: -300px 28% 0 28%;
  padding: 2%;
  z-index: 100;
  text-align: center;
}
.welcome .input-control label {
  display: block;
}
.welcome .input-control input {
  font-size: 12px;
  padding: 2px;
}
.welcome .left {
  margin: 0 2% 0 2%;
  width: 45%;
  float: left;
}
.welcome .right {
  border-left: 1px solid #fff;
  padding-left: 2%;
  margin: 0 0 0 2%;
  width: 45%;
  float: right;
}
/** Watch **/
#index .watch {
  position: relative;
  width: 100%;
  float: right;
  height: 500px;
}
#index .watch svg {
  position: relative !important;
}
#index .watch .date-time-freq {
  width: 30%;
  position: absolute;
  text-align: center;
  left: 50%;
  margin-left: -10%;
  z-index: 2;
  top: 170px;
  background: rgba(255, 255, 255, 0.5);
}
/** Timeline **/
/** Tweets / Weibos **/
.title-box {
  width: 100%;
  border-bottom: 1px solid #ffffff;
}
.title-box select {
  float: right;
  margin-top: -27px;
}
.tweets a {
  color: #ffffff;
}
.tweets li {
  position: relative;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 2px 5px 2px 40px;
  margin: 10px 0;
}
.tweets li p {
  margin: 3px 0;
  font-size: 13px;
}
.tweets li span.date {
  position: absolute;
  left: -20px;
  top: -5px;
  display: block;
  background-color: #000000;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 50px;
  border-radius: 30px;
}
.tweets li span.date.guilt {
  border: 2px solid #002da7;
}
.tweets li span.date.disappointment {
  border: 2px solid #0032a7;
}
.tweets li span.date.envy {
  border: 2px solid #004eac;
}
.tweets li span.date.disgust {
  border: 2px solid #187aac;
}
.tweets li span.date.contempt {
  border: 2px solid #43acb0;
}
.tweets li span.date.irritation {
  border: 2px solid #3ea67c;
}
.tweets li span.date.involvement {
  border: 2px solid #3fa652;
}
.tweets li span.date.amusement {
  border: 2px solid #40a630;
}
.tweets li span.date.joy {
  border: 2px solid #6da529;
}
.tweets li span.date.tenderness {
  border: 2px solid #b1992d;
}
.tweets li span.date.wonderment {
  border: 2px solid #ac6b1e;
}
.tweets li span.date.relief {
  border: 2px solid #a83f14;
}
.tweets li span.date.surprise {
  border: 2px solid #a5270f;
}
.tweets li span.date.longing {
  border: 2px solid #a52834;
}
.tweets li span.date.pity {
  border: 2px solid #a32e68;
}
.tweets li span.date.sadness {
  border: 2px solid #a3379c;
}
.tweets li span.date.worry {
  border: 2px solid #7e36ac;
}
.tweets li span.date.shame {
  border: 2px solid #4c2fab;
}
/** Video **/
#player {
  width: 100%;
}
/** Time **/
#start-stop-control {
  width: 50px;
  height: 50px;
  background: #000;
  border-radius: 30px;
  border: 1px solid #fff;
  position: absolute;
  line-height: 50px;
  text-align: center;
  left: -30px;
  top: -10px;
}
.time-box {
  position: relative;
  margin-top: 30px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  padding: 10px;
}
.time-box .date {
  font-size: 30px;
  text-align: right;
  display: block;
}
.time-box .time {
  font-size: 60px;
  text-align: right;
  display: block;
}
/**** PATTERN ****/
#pattern path,
#pattern circle {
  cursor: pointer;
}
#pattern .date-time-freq path.visited {
  fill: #cccccc;
}
#pattern .date-time-freq path.active {
  fill: #cccccc;
}
#pattern .date-time-freq path {
  fill: #ac7b74;
}
/**** Button ****/
.btn {
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #bbbbbb;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}
.btn:active,
.btn.active {
  background-color: #cccccc \9;
}
.btn:first-child {
  *margin-left: 0;
}
.btn:hover {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn.active,
.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
