/***** Variables *****/
/** Emotions **/
body {
  background: #a52834;
  color: #ffffff;
  margin: 0;
  padding: 0;
  -webkit-transition: background-color 3000ms linear;
  -moz-transition: background-color 3000ms linear;
  -o-transition: background-color 3000ms linear;
  -ms-transition: background-color 3000ms linear;
  transition: background-color 3000ms linear;
}
body.pity {
  background: #a32e68;
}
body.sadness {
  background: #a3379c;
}
body.disappointment {
  background: #0032a7;
}
body.guilt {
  background: #002da7;
}
body.joy {
  background: #6da529;
}
body.pride {
  background: #4da62a;
}
body.surprise {
  background: #a5270f;
}
body.worry {
  background: #7e36ac;
}
ul {
  margin: 0 0 0 20px;
  padding: 0;
}
/***** Typography *****/
h2 {
  font-weight: normal;
  font-size: 24px;
  margin: 5px 0;
  padding: 0;
}
select {
  font-size: 14px;
}
/***** Title *****/
h1.title {
  text-align: center;
  font-size: 50px;
  margin: 20px 0 0 0;
}
/** Top Navigation **/
.top-navigation {
  font-size: 14px;
  height: 35px;
  background-color: #000000;
  line-height: 35px;
}
.top-navigation .logo {
  margin-left: 25px;
  float: left;
}
.top-navigation .menu {
  margin-right: 25px;
}
.top-navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  float: right;
}
.top-navigation li {
  float: left;
  margin-left: 20px;
  line-height: 35px;
  position: relative;
}
.top-navigation #search-hashtag,
.top-navigation #search-event {
  display: none;
  position: absolute;
  z-index: 100;
  top: 35px;
  left: 0;
  background-color: #000000;
  width: 300px;
}
.top-navigation #search-hashtag h2,
.top-navigation #search-event h2 {
  font-size: 16px;
  font-weight: normal;
}
.top-navigation li:hover #search-hashtag,
.top-navigation li:hover #search-event {
  display: block;
}
/***** Basic Layout *****/
#left-column {
  width: 29.838709677%;
  float: left;
}
#middle-column {
  width: 40.322580645%;
  float: left;
}
#right-column {
  width: 29.838709677%;
  float: right;
}
#bottom {
  clear: both;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
  position: absolute;
  bottom: 0px;
}
.inner {
  padding: 20px;
}
/** Watch **/
#index .watch {
  position: relative;
  width: 100%;
  float: right;
  height: 500px;
}
#index .watch svg {
  position: relative !important;
}
#index .watch .date-time-freq {
  width: 30%;
  position: absolute;
  text-align: center;
  left: 50%;
  margin-left: -10%;
  z-index: 2;
  top: 170px;
  background: rgba(255, 255, 255, 0.5);
}
/** Timeline **/
/** Tweets / Weibos **/
.title-box {
  width: 100%;
  border-bottom: 1px solid #ffffff;
}
.title-box select {
  float: right;
  margin-top: -27px;
}
.tweets li {
  position: relative;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 2px 5px 2px 40px;
  margin: 10px 0;
}
.tweets li p {
  margin: 3px 0;
  font-size: 13px;
}
.tweets li span.date {
  position: absolute;
  left: -20px;
  top: -5px;
  display: block;
  background-color: #000000;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 50px;
  border-radius: 30px;
}
.tweets li span.date.guilt {
  border: 2px solid #002da7;
}
.tweets li span.date.disappointment {
  border: 2px solid #0032a7;
}
.tweets li span.date.envy {
  border: 2px solid #004eac;
}
.tweets li span.date.disgust {
  border: 2px solid #187aac;
}
.tweets li span.date.contempt {
  border: 2px solid #43acb0;
}
.tweets li span.date.irritation {
  border: 2px solid #3ea67c;
}
.tweets li span.date.involvement {
  border: 2px solid #3fa652;
}
.tweets li span.date.amusement {
  border: 2px solid #40a630;
}
.tweets li span.date.joy {
  border: 2px solid #6da529;
}
.tweets li span.date.tenderness {
  border: 2px solid #b1992d;
}
.tweets li span.date.wonderment {
  border: 2px solid #ac6b1e;
}
.tweets li span.date.relief {
  border: 2px solid #a83f14;
}
.tweets li span.date.surprise {
  border: 2px solid #a5270f;
}
.tweets li span.date.longing {
  border: 2px solid #a52834;
}
.tweets li span.date.pity {
  border: 2px solid #a32e68;
}
.tweets li span.date.sadness {
  border: 2px solid #a3379c;
}
.tweets li span.date.worry {
  border: 2px solid #7e36ac;
}
.tweets li span.date.shame {
  border: 2px solid #4c2fab;
}
/** Video **/
#player {
  width: 100%;
}
/** Time **/
#start-stop-control {
  width: 50px;
  height: 50px;
  background: #000;
  border-radius: 30px;
  border: 1px solid #fff;
  position: absolute;
  line-height: 50px;
  text-align: center;
  left: -30px;
  top: -10px;
}
.time-box {
  position: relative;
  margin-top: 30px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  padding: 10px;
}
.time-box .date {
  font-size: 30px;
  text-align: right;
  display: block;
}
.time-box .time {
  font-size: 60px;
  text-align: right;
  display: block;
}
