<div class="top">
    <div class="left-watch-info info-column">
        <h2><%= keywordLeft %> <small>Network: <%= networkLeft %></small></h2>
        <a href="<%= leftLink %>">Analyze in Single Watch View</a>
    </div>
    <div class="right-watch-info info-column">
        <h2><%= keywordRight %> <small>Network: <%= networkRight %></small></h2>
        <a href="<%= rightLink %>">Analyze in Single Watch View</a>
    </div>
</div>
 
<div class="middle info-column">
    <div class="video"></div>
    <div id="middle-info">
        <ul>
            <li>
                <h3>Current</h3>
                <span class="dateTime">
                    <%= firstDateTime %> - <%= secondDateTime %>
                </span>
            </li>
            <li>Start: <%=moment(new Date(startDateTime)).format("DD.MM.YYYY HH:mm:ss")%></li>
            <li>End: <%=moment(new Date(endDateTime)).format("DD.MM.YYYY HH:mm:ss")%></li>
        </ul>
    </div>
    <div class="controls">
        <button id="start-stop-control-btn" class="btn btn-primary">Pause</button>
    </div>
</div>