<div class="top">
    <div class="left-watch-info info-column">
        <h2><%= keywordsLeft %> <small>Network: <%= networkLeft %></h2>
    </div>
    <div class="right-watch-info info-column">
        <h2><%= keywordsRight %> <small>Network: <%= networkRight %></h2>
    </div>
</div>
 
<div class="middle info-column">
    <div class="video"></div>
    <div class="middle-info">
        <ul>
            <li>Start: <=% startDateTime %></li>
            <li>End: <=% endDateTime %></li>
            <li>Current: [6th Aug 2012 14:13:45, 6th Aug 2012 14:14:00]</li>
    </div>
    <div class="controls">
        <button id="start-stop-control" class="btn">Stop</button>
    </div>
</div>