<div id="compare">
    <div class="information">
        <div class="top">
            <div class="left-watch-info info-column">
                <h2>Twitter: #gymnastics, Beth Tweedle</h2>
            </div>
            <div class="right-watch-info info-column">
                <h2>Twitter: @bethtweedle, @komova</h2>
            </div>
        </div>
         
        <div class="middle info-column">
            <div class="video"></div>
            <div class="middle-info">
                <ul>
                    <li>Start: 6th Aug 2012 12:00:00</li>
                    <li>End: 6th Aug 2012 18:00:00</li>
                    <li>Current: [6th Aug 2012 14:13:45, 6th Aug 2012 14:14:00]</li>
            </div>
            <div class="controls">
                <button>Stop</button>
            </div>
        </div>
    </div>


    <!-- <div id="loading">
        <div id="curtain"></div>
        <div id="loading-label">Loading...</div>
    </div> -->

    <div class="visualization">
        <div class="left-watch columns" id="left-column">
            <div class="watch">
                <h2></h2>
                <div class="paper"></div>
                <div class="watch-view"></div>
            </div>
            <div class="bottom">
                <div class="time-block">
                    <div class="curtain"></div>
                    <div class="current-time-box"></div>
                </div>
                <div class="date-time-freq">
                    <div class="paper"></div>
                </div>
                <div class="freq"></div>
            </div>
        </div>
        <div class="" id="middle-column">
            <div class="keyword-title"></div>
            <div class="time-block"></div>
        </div>
        <div class="right-watch columns" id="right-column">
            <div class="watch">
                <h2></h2>
                <div class="paper"></div>
                <div class="watch-view"></div>
            </div>
            <div class="bottom">
                <div class="time-block">
                    <div class="curtain"></div>
                    <div class="current-time-box"></div>
                </div>
                <div class="date-time-freq">
                    <div class="paper"></div>
                </div>
                <div class="freq"></div>
            </div>
        </div>
        <div class="watches"></div>
    </div>
</div>