<div id="compare">
    <div class="information">
    
    </div>
    <div class="middle-separator"></div>
    <!-- <div id="loading">
        <div id="curtain"></div>
        <div id="loading-label">Loading...</div>
    </div> -->

    <div class="visualization">
        <div class="left-watch columns" id="left-column">
            <div class="watch">
                <h2></h2>
                <div class="paper"></div>
                <div class="watch-view"></div>
            </div>
            <div class="bottom">
                <div class="time-block">
                    <div class="curtain"></div>
                    <div class="current-time-box"></div>
                </div>
                <div class="date-time-freq">
                    <div class="paper"></div>
                </div>
                <div class="freq"></div>
            </div>
        </div>
        <div class="" id="middle-column">
            <div class="keyword-title"></div>
            <div class="time-block"></div>
        </div>
        <div class="right-watch columns" id="right-column">
            <div class="watch">
                <h2></h2>
                <div class="paper"></div>
                <div class="watch-view"></div>
            </div>
            <div class="bottom">
                <div class="time-block">
                    <div class="curtain"></div>
                    <div class="current-time-box"></div>
                </div>
                <div class="date-time-freq">
                    <div class="paper"></div>
                </div>
                <div class="freq"></div>
            </div>
        </div>
        <div class="watches"></div>
    </div>
</div>