<div id="compare">
    <div class="navigation"></div>

    <div class="weibo columns" id="left-column">
        <div class="watch">
            <h2>Weibo</h2>
            <div class="paper"></div>
            <div class="watch-view"></div>
        </div>
        <div class="bottom">
            <div class="time-block">
                <div class="curtain"></div>
                <div class="current-time-box"></div>
            </div>
            <div class="date-time-freq">
                <div class="paper"></div>
            </div>
        </div>
    </div>
    <div class="" id="middle-column">
        <div class="keyword-title"></div>
        <div class="time-block"></div>
    </div>
    <div class="twitter columns" id="right-column">
        <div class="watch">
            <h2>Twitter</h2>
            <div class="paper"></div>
            <div class="watch-view"></div>
        </div>
        <div class="bottom">
            <div class="time-block">
                <div class="curtain"></div>
                <div class="current-time-box"></div>
            </div>
            <div class="date-time-freq">
                <div class="paper"></div>
            </div>
        </div>
    </div>
    <div class="watches"></div>
</div>