<div id="compare">
    <div class="navigation">
        <h1 class="title">Compare events, topics or athletes</h1>
        <p class="lead">Search for hashtags (with #, multiple hashtags separated by commas), athletes (seperated by commas) or events.</p>
    </div>

    <div id="initialization-form">
        <div class="init-column" id="left-watch">
            <h2>Left watch</h2>
            <div class="control-group">
                <label class="control-label" for="keywordLeft">Search term</label>
                <div class="controls">
                    <input type="text" name="keywordLeft" id="keywordLeft" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="networkLeft">Network</label>
                <div class="controls">
                    <select id="networkLeft" name="networkLeft">
                        <option>Twitter</option>
                        <option>Weibo</option>
                        <option>Both</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="init-column" id="general-info">
            <h2>Date & Time</h2>
            <div class="control-group">
                <label class="control-label" for="start-date">Date at beginning</label>
                <div class="controls">
                    <input type="date" min="2012-07-26" max="2012-08-14" name="start-date" id="start-date" />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="start-time">Time at beginning</label>
                <div class="controls">
                    <input type="time" name="start-time" id="start-time" />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="end-date">Date at end</label>
                <div class="controls">
                    <input type="date" min="2012-07-26" max="2012-08-14"  name="end-date" id="end-date" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="end-time">Time at end</label>
                <div class="controls">
                    <input type="time" name="end-time" id="end-time" />
                </div>
            </div>
        </div>
        <div class="init-column" id="right-watch">
            <h2>Right watch</h2>
            <div class="control-group">
                <label class="control-label" for="keywordRight">Search term</label>
                <div class="controls">
                    <input type="text" name="keywordRight" id="keywordRight" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="networkRight">Network</label>
                <div class="controls">
                    <select id="networkRight" name="networkRight">
                        <option>Twitter</option>
                        <option>Weibo</option>
                        <option>Both</option>
                    </select>
                </div>
            </div>
        </div>
        
        <div class="submit">
            <button id="load-visualization" class="btn btn-primary">Load visualization</button>
            <div class="alert alert-error">
            </div>
            
        </div>
    </div>
</div>