<div id="index">
    <div class="navigation"></div>

    <div id="left-column">
        <div class="tweets"></div>
    </div>
    <div id="middle-column">
        <div class="keyword-title"></div>
        <div class="watch">
            <div class="paper">
            </div>
        </div>
        
    </div>
    <div id="right-column">
        <div class="inner">
            <div id="player"></div>
            <div class="time-block"></div>
        </div>
    </div>
    <div id="bottom">
        <div class="date-time-freq">
            <div class="paper"></div>
        </div>
    </div>
    <div class="watches"></div>
</div>