<div id="settings-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="searchKeyword" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Change settings</h3>
  </div>
  <div class="modal-body">
  </div>
</div>

<div id="search-event" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="searchEvent" aria-hidden="true">
  <div class="search-event-header modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Search Event</h3>
  </div>
  <div class="search-event-body modal-body">
    
  </div>
</div>

<div id="search-keyword" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="searchKeyword" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Search athlete or hashtag</h3>
  </div>
  <div class="modal-body">
  </div>
</div>

<div class="top-navigation">
  <div class="title">

    <div class="inside-title">
      <div class="menu-left">
        <ul>
          <li><a href="/">Home</a></li>
          <li id="settings-btn" class="modal-link" data-toggle="modal">
            Settings
          </li>
          <li id="search-event-btn" class="modal-link" data-toggle="modal">
            Search event
          </li>
          <li id="search-keyword-btn" class="modal-link" data-toggle="modal">
            Search hashtag
          </li>
        </ul>
      </div>
      <% if(keywordType == 'event' && event !== undefined) { %>
        <h1><%= sport, gender, event %></h1>
      <% } else if(keywordType == 'keyword' && hashtag !== undefined) { %>
        <h1><%= hashtag %></h1>
      <% } else { %>
        <h1>Event or keyword not found</h1>
      <% } %>
      <div class="subinfo">
        <div class="subinfo-tab start">
          <h2>Date and time of begin</h2>
          <h3><%= moment(new Date(startDateTime)).format("DD.MM.YYYY HH:mm") %></h3>
        </div>
        <div class="subinfo-tab end">
          <h2>Date and time of end</h2>
          <h3><%= moment(new Date(endDateTime)).format("DD.MM.YYYY HH:mm") %></h3>
        </div>
        <div class="subinfo-tab timestep">
          <h2>Interval</h2>
          <h3><%= timeStep %></h3>
        </div>
        <div class="subinfo-tab timestep">
          <h2>Network</h2>
          <h3><%= network %></h3>
        </div>
      </div>
      <div class="menu-right">
        <ul>
          <li><a href="<%= urlSingle %>">Single watch view</a></li>
          <li><a href="<%= urlPattern %>">Pattern watch view</a></li>
          <% if(keywordType == 'event') { %>
          <li><a href="<%= urlCompare %>">Compare Twitter & Weibo</a></li>
          <% } %>
        </ul>
      </div>
    </div>
    
  </div>

  
</div>

<div id="loading">
    <div class="loading-background"></div>
    <div class="loading-text">
        <h2>Loading...</h2>
        <button id="start-all" class="btn btn-primary">Start Visualisation</button>
    </div>
</div>