<div id="search-event" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="searchEvent" aria-hidden="true">
  <div class="search-event-header modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Search Event</h3>
  </div>
  <div class="search-event-body modal-body">
    
  </div>
</div>

<div id="search-keyword" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="searchKeyword" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Search athlete or hashtag</h3>
  </div>
  <div class="modal-body">
  </div>
</div>

<div class="top-navigation">
  <div class="logo">The Olympic Emotion Project</div>
  <div class="menu">
    <ul>
      <li>
        <button id="search-event-btn" data-toggle="modal">Search event</button>
      </li>
      <li>
        <button id="search-keyword-btn" data-toggle="modal">Search hashtag / athlete</button>
      </li>
      <li>About the project</li>
      <li>Github</li>
    </ul>
  </div>
</div>