<div class="form-horizontal">
    <h2>Search an event</h2>
    <div class="control-group">
        <label class="control-label" for="event-sport">Choose an event</label>
        <div class="controls">
            
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="event-network">Network</label>
        <div class="controls">
            <select id="event-network" name="event-network">
                <option value="twitter" selected>Twitter</option>
                <option value="weibo">Weibo</option>
                <option value="both">Both networks</option>
            </select>
        </div>
    </div>
    <button class="btn btn-search" id="event-search">Search event</button>
</div>