<div id="create">
  <form id="search-form" class="form-inline">
    <select>
      <option value="July 28, 2012 18:00:00">28.07.2012</option>
      <option value="July 29, 2012 18:00:00">29.07.2012</option>
      <option value="July 30, 2012 18:00:00">30.07.2012</option>
      <option value="July 31, 2012 18:00:00">31.07.2012</option>
      <option value="August 01, 2012 18:00:00">01.08.2012</option>
    </select>
    <input type="text" id="keyword" class="input-medium" placeholder="Topic">
    <button type="submit" class="search-btn btn">Create new emotion watch</button>
  </form>
</div>