<div id="settings">
    <h2>Settings</h2>
    <div class="input-control">
        <label>Animation duration of one step</label>
        <div class="inner-control">
            <input type="text" name="animation-duration" id="animation-duration" value="<%= animationDuration %>" />
        </div>
    </div>
    <div class="input-control">
        <label>Length of a time step</label>
        <div class="inner-control">
            <input type="text" name="time-step" id="time-step" value="<%= timeStep %>" />
        </div>
    </div>
    <div class="input-control">
        <label>Network</label>
        <div class="inner-control">
            <select id="network">
                <option value="twitter">Twitter</option>
                <option value="weibo">Weibo</option>
            </select>
        </div>
    </div>
    <div class="input-control">
        <label>Date & time at beginning</label>
        <div class="inner-control">
            <input type="date" min="2012-07-26" max="2012-08-14" name="start-date" id="start-date" value="<%= startDate %>" />
            <input type="time" name="start-time" id="start-time" value="<%= startTime %>" />
        </div>
    </div>
    <div class="input-control">
        <label>Date & time at end</label>
        <div class="inner-control">
            <input type="date" min="2012-07-26" max="2012-08-14"  name="end-date" id="end-date" value="<%= endDate %>" />
            <input type="time" name="end-time" id="end-time" value="<%= endTime %>" />
        </div>
    </div>
    <button class="btn btn-search" id="settings-change">Change settings</button>
</div>