<div id="welcome">
  <h1 class="title">The Olympic Emotion Project</h1>

  <div class="events">
  <h2>The most interesting picks of the Olympic Games 2012 in London</h2>

    <ul>
      <% var k = 1 %>
      <% for(var i in events) { %>
        <a href="#search/twitter/event/<%=events[i].id%>/5/<%=new Date(events[i].startDateTime).getTime()%>/<%=new Date(events[i].endDateTime).getTime()%>">
          <li>
            <div class="number"><%= k++ %></div>
            <h4><%=events[i].sport%> - <%=events[i].gender%></h4>
            <h3><%=events[i].event%></h3>
            <p><%=events[i].desc%></p>
          </li>
        </a>
      <% } %>
    </ul>
  </div>

  <p class="lead">To get more information about this project, visit the <a href="http://grpupc1.epfl.ch/~valentina/OlympicProjectPage/OlympicProject.html">project page</a></p>

</div>