<h1>The Olympic Emotion Project</h1>
<p>The Olympic Emotion Project aims at extracting emotions from tweets and weibos sent during the Olympic Games and related to the same. The projects objective is to visualize the reaction of users to specific happenings like wins and losses. Every hashtag or person, including athletes, who were tweeting during the olympics, have an emotional profile, indicating the found emotions in the tweets related to that person.</p>
<div class="left">
    <h2>Search an event</h2>
    <input type="text" name="event" />
    <button>Search event</button>
</div>
<div class="right">
    <h2>Search a keyword or athlete / person</h2>
    <input type="text" name="keyword" />
    <input type="datetime" id="keyword-start-date-time" />
    <input type="datetime" id="keyword-end-date-time" />
    <button>Search keyword or athlete</button>
</div>